* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #00ADB5; /* Color de fondo */
    color: white; /* Color del texto */
    height: 100vh;
    width: 250px;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

/* Lista de elementos del Sidebar */
.lista {
    list-style: none;
    padding: 0;
    flex-grow: 1; /* Allow the list to grow and take available space */
}

.lista-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 18px;
    color: white; /* Color de texto de los ítems */
    transition: background 0.3s ease;
}

.lista-item:hover {
    background: rgba(255, 0, 0, 0.2); /* Rojo semi-transparente al pasar el mouse */
    cursor: pointer;
}

/* Enlaces */
.lista-item a {
    text-decoration: none;
    color: white;
}

.lista-item a:hover {
    text-decoration: underline;
}

/* Estilo para botón de Logout */
.lista-item-logout {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 18px;
    color: white;
    margin-top: auto; /* Empuja el elemento al fondo */

    text-align: center;
    transition: background 0.3s ease;
    position:absolute;
    bottom:20px;
    width: 120px;
}

.lista-item-logout a {
    text-decoration: none;
    color: white;
}

.lista-item-logout:hover {
    background-color: darkred;
}
